
.cantar{  color: white; font-weight:500; width: 41.5vh; } 
.cantarr{  color: white; font-weight:500; width: 42.6vh; } 
.bgimage{ background-image: url(image/background\ images.jpg);
width:0 auto;
text-align: center;          
background-repeat: no-repeat;
height: 100%;           
width: 100%;
background-size: cover;
background-position: center;
background-position-y: center;           
}

 

